/* ==============================================
   Tempora Tool Bar
   ============================================== */

:root {
	--chronos-background-color: #464646;
	--chronos-background-hover-color: #353535;
	--chronos-text-color: #ffffff;
	--chronos-red: #c20000;
}

footer {
	margin-bottom: 28px;
}

.tempora_chronos {
	width: -webkit-fill-available;
	width: -moz-available;
	background-color: var(--chronos-background-color);
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0 10px;
	display: flex;
	flex-direction: row;
	color: var(--chronos-text-color);
	border-left: solid 4px var(--chronos-red);
	font-size: 14px;
	z-index: 9999;
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;

	.tempora_chronos_title {
		font-weight: bold;
	}

	.tempora_chronos_drop_container {
		display: inline-block;

		.chronos_sql {
			table-layout: auto;

			.min_col {
				min-width: min-content;
				white-space: nowrap;
				width: min-content;
			}
		}
	}

	p {
		margin: 0;
		padding: 6px 10px;
	}

	table {
		border-collapse: collapse;
		border-style: hidden;
		table-layout: fixed;
		width: 100%;
		word-wrap: break-word;
		table-layout: auto;

		td {
			color: var(--chronos-text-color);
			vertical-align: top;
			border: solid 2px var(--chronos-background-color);
			font-size: 14px;
			padding: 5px;
		}
	}

	.tempora_chronos_drop_element {
		display: none;
		position: absolute;
		bottom: 100%;
		min-width: 300px;
		width: fit-content;
		max-width: 600px;
		background-color: var(--chronos-background-hover-color);
		overflow-y: scroll;
		max-height: 500px;
		padding: 10px;
		border-radius: 9px 9px 0 0;

		h1 {
			font-size: 18px;
		}

		p,
		td,
		a,
		h1 {
			user-select: text;
			text-decoration: none;
			color: var(--chronos-text-color);
		}

		td:hover {
			cursor: text;
		}
	}

	.tempora_chronos_drop_container:hover {
		background-color: var(--chronos-background-hover-color);
	}

	.tempora_chronos_drop_container:hover .tempora_chronos_drop_element {
		display: block;
	}

	.red {
		color: var(--chronos-red) !important;
	}

	.green {
		color: lightgreen;
	}

	.yellow {
		color: yellow;
	}

	.bold {
		font-weight: bold;
	}

	.italic {
		font-style: italic;
	}
}
