/* ==============================================
   Tempora Tool Bar
   ============================================== */

:root {
	--chronos-table-border-color: #464646a8;
	--chronos-background-hover-color: #353535;
	--chronos-text-color: #ffffff;
	--chronos-red: #c20000;

	--chronos-header-height: 28px;

	--chronos-windowed-text-color: #00021f;
	--chronos-windowed-background-color: #ffffff9c;
	--chronos-background-color: #ffffff;
	--chronos-background-hover-color: #e1e1e1;

	--dark-chronos-text-color: #ffffff;
	--dark-chronos-windowed-background-color: #1f1f1f9c;
	--dark-chronos-background-color: #1f1f1f;
	--dark-chronos-background-hover-color: #353535;
}

[data-theme="dark"] {
	--chronos-windowed-text-color: var(--dark-chronos-text-color);
	--chronos-windowed-background-color: var(--dark-chronos-windowed-background-color);
	--chronos-background-color: var(--dark-chronos-background-color);
	--chronos-background-hover-color: var(--dark-chronos-background-hover-color);
}

[data-theme="system"] {
	@media (prefers-color-scheme: dark) {
		--chronos-windowed-text-color: var(--dark-chronos-text-color);
		--chronos-windowed-background-color: var(--dark-chronos-windowed-background-color);
		--chronos-background-color: var(--dark-chronos-background-color);
		--chronos-background-hover-color: var(--dark-chronos-background-hover-color);
	}
}

.tempora_chronos_block_content {
	display: none;
	position: absolute;
	bottom: 100%;
	min-width: 300px;
	min-height: 100px;
	width: fit-content;
	max-width: -webkit-fill-available;
	max-width: 600px;
	overflow-y: scroll;
	max-height: 500px;
	border-radius: 9px 9px 0 0;
	z-index: 1100;
	overflow-x: hidden;
	overflow-y: hidden;
	color: var(--chronos-windowed-text-color);
	backdrop-filter: blur(8px);
	border: 1px solid #ffffff2e;
	background-color: var(--chronos-windowed-background-color);
	max-height: calc(500px + 22px);
	font-family: Arial, Helvetica, sans-serif;

	h1 {
		font-size: 16px;
		user-select: none !important;
		padding-left: 10px;
	}

	h2 {
		font-size: 16px;
		user-select: none !important;
	}

	p {
		margin: 0;
		padding: 6px 10px;
	}

	p,
	td,
	a,
	h1,
	h2 {
		user-select: text;
		text-decoration: none;
		color: var(--chronos-windowed-text-color);
		margin: 0;
	}

	i {
		font-size: 18px;
		padding-left: 6px;
	}

	.tab {
		display: inline-block;
		width: 20px;
	}

	.mono {
		font-family: Consolas, monaco, monospace;
	}

	.chronos_sql,
	.chronos_dumps,
	.chronos_minifier {
		table-layout: auto;

		.min_col {
			min-width: min-content;
			white-space: nowrap;
			width: min-content;
		}
	}

	table {
		border-collapse: collapse;
		border-style: hidden;
		width: 100%;
		word-wrap: break-word;
		table-layout: auto;

		th {
			text-align: left;
			padding: 5px;
			font-weight: bold;
			font-size: 15px;
		}

		td {
			color: var(--chronos-windowed-text-color);
			vertical-align: top;
			border: solid 1px var(--chronos-table-border-color);
			font-size: 14px;
			padding: 5px;
		}
	}

	.tempora_chronos_drop_element_header {
		position: sticky;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		height: var(--chronos-header-height);
		color: #ffffff;

		h1 {
			color: #ffffff;
		}

		.pin {
			position: absolute;
			right: 2px;
			cursor: pointer;
			font-size: 18px;
			z-index: 1002;
			padding: 3px;
			border-radius: 5px;
			transition: 200ms;

			&:hover {
				transition: 200ms;
			}
		}
	}

	&.windowed {
		display: block;
		position: fixed;
		top: 10px;
		left: 10px;
		z-index: 1000;
		box-shadow: 0px 0px 38px 5px #00000050;
		border-radius: 9px;
		resize: both;
		max-width: none;
		max-height: none;

		.tempora_chronos_drop_element_header:hover {
			cursor: move;
		}
	}

	.content {
		overflow-x: scroll;
		overflow-y: scroll;
		height: calc(100% - var(--chronos-header-height));
		width: calc(100% - 20px);
		padding: 0px 10px;
		max-height: 500px;

		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #78787899;
			border-radius: 999px;
			border: 2px solid transparent;
			background-clip: content-box;
		}

		&::-webkit-scrollbar-thumb:hover {
			background-color: #787878cc;
		}

		&::-webkit-scrollbar-corner {
			background: transparent;
		}
	}
}

.tempora_chronos {
	width: -webkit-fill-available;
	width: -moz-available;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0 10px;
	display: flex;
	flex-direction: row;
	color: var(--chronos-windowed-text-color);
	border-left: solid 4px var(--chronos-red);
	font-size: 14px;
	z-index: 9999;
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
	border-top: solid 1px #ffffff2e;
	box-shadow: 0px 0px 38px 5px #00000050;
	background-color: var(--chronos-windowed-background-color);

	&::before {
        content: "";
        position: absolute;
        inset: 0;
        backdrop-filter: blur(8px);
        z-index: -1;
	}

	&.hidden {
		width: fit-content;
		left: auto;
		right: 0;
		padding: 0;
		background-color: #00000000;
		border: none;
		box-shadow: none;

		.tempora_chronos_drop_container,
		#tempora_chronos_ms {
			display: none;

			.tempora_chronos_drop_element {
				display: none;
			}
		}

		.title {
			display: block;

			&:hover {
				background-color: #00000000;
				cursor: pointer;
			}
		}

		.chronos_close {
			display: none;
		}
	}

	.chronos_close {
		position: absolute;
		right: 8px;
		top: 6px;
		font-size: 16px;
		transition: 200ms;

		&:hover {
			cursor: pointer;
			color: var(--chronos-red);
			transition: 200ms;
		}
	}

	.tempora_chronos_title {
		height: 16px;
		display: flex;
		align-items: center;

		img {
			width: 22px;
			height: 22px;
		}
	}

	.tempora_chronos_drop_container {
		display: inline-block;

		p {
			margin: 0;
			padding: 6px 10px;
		}

		&:hover {
			background-color: var(--chronos-background-hover-color);
			border-radius: 4px;

			.tempora_chronos_block_content {
				display: block;
			}
		}
	}
}

.tempora_chronos,
.tempora_chronos_block_content {
	.red {
		color: var(--chronos-red);
	}

	.green {
		color: lightgreen;
	}

	.yellow {
		color: yellow;
	}

	.bold {
		font-weight: bold;
	}

	.italic {
		font-style: italic;
	}
}
