:root {
	--chronos-error-background-header-color: #c20000;
	--chronos-error-background-color: #4646468a;
	--chronos-error-background-hover-color: #910000;
	--chronos-error-border-radius: 9px;
	--chronos-error-text-color: #ffffff;
	--chronos-error-show-more-background-color: #333333;
}

.tempora_error_container {
	width: -webkit-fill-available;
	width: -moz-available;
	min-height: 100vh;
	backdrop-filter: blur(3px);
	background-color: #0000003b;
	position: absolute;
	top: 0;
	color: var(--chronos-error-text-color);
	transition: 200ms;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 10000;

	p {
		user-select: text !important;
		margin: 0;
	}

	.tempora_error {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 80%;
		margin: auto;
		margin-top: 10vh;
		margin-bottom: 10vh;
		border: solid 2px var(--chronos-error-background-header-color);
		border-radius: var(--chronos-error-border-radius);
		position: relative;
		background-color: var(--chronos-error-background-color);
		backdrop-filter: blur(3px);
		z-index: 10000;

		#close {
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			padding: 4px;
			transition: 200ms;
		}

		#close:hover {
			background-color: var(--chronos-error-background-hover-color);
			border-radius: 5px;
			transition: 200ms;
		}

		.separator {
			width: 100%;
			height: 2px;
			background-color: var(--chronos-error-background-header-color);
		}

		.header {
			padding: 10px 30px;
            padding-right: 45px;
			background-color: var(--chronos-error-background-header-color);
			width: -webkit-fill-available;
			width: -moz-available;
			text-align: center;
			border-radius: 6px 6px 0 0;

			.title {
				font-weight: bold;
			}
		}

		.trace_container {
			width: -webkit-fill-available;
			width: -moz-available;
			margin: 20px;

			.trace {
				white-space: break-spaces;
			}
		}

		.file_code_container {
			display: flex;
			flex-direction: column;
			gap: 10px;
			margin: 20px;
			width: -webkit-fill-available;
			width: -moz-available;

			.file_container {
				width: -webkit-fill-available;
				width: -moz-available;
				position: relative;

				.chronos_show_more {
					position: absolute;
					right: 10px;
					cursor: pointer;
					padding: 1px;
					transition: 200ms;
				}

				.chronos_show_more:hover {
					background-color: var(--chronos-error-show-more-background-color);
					border-radius: 5px;
					transition: 200ms;
				}

				.hidden {
					display: none !important;
				}

				.file {
					background-color: #3d3d3d;
					padding: 5px 15px;
					width: -webkit-fill-available;
					width: -moz-available;
					cursor: pointer;
				}

				.selected {
					background-color: #c2000046 !important;
					border: solid 1px var(--chronos-error-background-header-color) !important;
					padding-left: 4px !important;
				}

				.line {
					display: flex;
					white-space: pre;
					background-color: #4e4e4e;
				}

				.line_number {
					display: inline-block;
					width: 50px;
					text-align: center;
					color: #888;
					user-select: none !important;
					background-color: #3d3d3d;
				}

				.code_content {
					font-family: Consolas,monaco,monospace;
					font-size: 14px;
					display: inline-block;
					padding-left: 5px;
					white-space: pre-wrap;
					width: calc(100% - 55px);
					tab-size: 4;
				}
			}
		}
	}
}
